.fhgb {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.fhgb {
  width: 100%;
  height: 5vh;
}
.hgvbjn {
  width: 90%;
  display: flex;
}
#agrf {
  text-decoration: none;
  width: 100%;
  margin-top: 20px;
  font-family: sans-serif;
  font-size: larger;
  list-style: none;
  padding: 2px 20px;
  margin-top: 10px;
  color: black;
}
#gjjg {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

#gjjg:hover {
  color: blue;
}

.frg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fhb {
  text-decoration: none;
  width: 100%;
  font-family: sans-serif;
  margin-top: 20px;
  margin-left: 10%;
  font-size: 30px;
  font-weight: 600;
}

.active {
  color: rgb(51, 51, 51);
}

/* Hero */
.hgbj {
  width: 100%;
  height: 100vh;
  background-image: url("spotted-butterfly-yellow-flower-autumn-generated-by-ai.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.srhdt {
  color: azure;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.srhdt h1 {
  font-family: sans-serif;
  position: relative;
  top: 60px;
}

.grt {
  color: azure;
  width: 50%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  margin: auto;
}

.grt {
  position: relative;
  top: 60px;
}

/* button */
.grthry {
  width: 100%;
  margin: auto;
  font-size: large;
  width: 40%;
  position: relative;
  top: 60px;
}

.srgdht {
  width: 200px;
  background-color: #a79770;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 4rem;
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
}

.srhh {
  width: 200px;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  margin-left: 20px;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  font-size: 20px;
}

/* Box */
.gthry {
  width: 280px;
  height: 250px;
  background-color: #a79770;
  margin-top: 10%;
  margin-left: 5%;
  display: inline-block;
  border-radius: 30px;
}
.gthry:hover {
  background-color: #766b4e;
}

.afegsr {
  text-align: center;
  width: 40%;
  margin-left: 90px;
  margin-top: 30px;
}
.afegsr {
  font-size: large;
  font-family: sans-serif;
  color: rgb(252, 252, 252);
}

/* Section1 */
.jhbj {
  width: 100%;
  height: 70vh;
  display: flex;
  background-image: url("Motion Backgrounds For Edits __ Free Video Background Loops - Copyright Free Backgrounds.gif");
  background-position: center;
  background-size: cover;
}

.sryhd {
  margin-left: 15%;
  border-color: black;
  position: relative;
  top: 50px;
  border: rgb(160, 85, 85);
}

.ybvd {
  width: 50%;
  font-family: sans-serif;
  margin-left: 15%;
  font-weight: 600;
  font-size: 50px;
  margin-top: 70px;
}
.sryhd {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.afegr {
  width: 55%;
  font-family: sans-serif;
  margin-left: 15%;
}
.sgrh {
  width: 200px;
  height: 50px;
  font-family: sans-serif;
  margin-left: 15%;
  font-weight: 600;
  background-color: #a79770;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 25px;
  height: 4rem;
  text-align: center;
  border: none;
}

.sgrh:hover {
  background-color: #a79159;
  color: white;
}

.Line {
  background-color: black;
  height: 2px;
  margin: auto;
  width: 80%;
}

/* section2 */
.ghb {
  background-color: #766b4e;
  width: 100%;
  height: 175vh;
  font-size: 30px;
}
.sdht {
  position: relative;
  top: 40px;
  text-align: center;
  font-family: sans-serif;
  color: #ffffff;
}
.srh {
  width: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 20px;
  left: 360px;
  position: relative;
  top: 20px;
}

.conatiner {
  background-image: url("12.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
}

.conatiner1 {
  background-image: url("13.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 20px;
  display: inline-block;
}
.conatiner2 {
  background-image: url("14.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 20px;
  display: inline-block;
}
.conatiner3 {
  background-image: url("15.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 20px;
  display: inline-block;
}
.conatiner4 {
  background-image: url("16.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 20px;
  display: inline-block;
}
.conatiner5 {
  background-image: url("17.jpg");
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 50vh;
  margin: 50px;
  background-color: azure;
  margin-left: 60px;
  margin-top: 80px;
  border-radius: 20px;
  display: inline-block;
}

.text {
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.opacuty {
  width: 100%;
  height: 200px;
  background-color: #a0a0a0;
  position: relative;
  top: 135px;
  border-radius: 20px 10px 10px;
  opacity: 0;
  transition: 0.3s;
}
.opacuty:hover {
  opacity: 0.8;
}

.buttontag {
  margin: auto;
  width: 20%;
  text-align: center;
}
.buttontag button {
  width: 80%;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  color: #766b4e;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

/* Service */

.diplayflrex {
  display: block;
}
.image1 {
  width: 30%;
  margin-left: 30px;
}
.margien {
  margin: auto;
  width: 85%;
  margin-top: 20px;
}

.automix {
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.newbuton {
  margin: auto;
  width: 20%;
  text-align: center;
  margin-top: 20px;
}

.newbuton button {
  width: 70%;
  height: 70px;
  background-color: #766b4e;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.newbuton button:hover {
  background-color: #726134;
}

/* contact */

.color {
  background-color: black;
  height: 50vh;
}
.color1 {
  display: flex;
  width: 70%;
  margin: auto;
  position: relative;
  top: 40px;
}

.firets {
  width: 30%;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}
.firets p {
  color: rgb(198, 198, 198);
  width: 80%;
}

.second {
  margin-left: 40px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

.second h4 {
  color: rgb(198, 198, 198);
}

.third {
  margin-left: 60px;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

.third h4 {
  color: rgb(198, 198, 198);
}

.four {
  margin-left: 80px;
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.four input {
  width: 120%;
  height: 30px;
  font-size: 15px;
}

.four button {
  width: 60%;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(141, 140, 140);
  border: none;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
  border-radius: 10px;
}
